@use "../../../abstract" as *;



.contact-bg{
  @include set-background-color(transparent);

  & .contact-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    max-height: 850px;
    position: relative;

    & h2{
      font-weight: 700;
      text-align: center;

      & span{
        color: $color-2;
      }
    }

    & h4{
      margin-top: 20px;
      color: $color-2;
      font-weight: 400;
      gap: 20px;
      display: flex;

      & span{
        cursor: pointer;
      }
    }

    & .social-icons{
      position: absolute;
      bottom: 30px;
      display: flex;
      gap: 20px;

      & svg{
        width: 30px;
        height: 30px;
        fill: $color-2;
      }
    }
  }
}

@media (max-width: $media-w-m){
  .contact-bg{
    & .contact-section{
    }
  }
}