@use "../../abstract/" as *;

.footer-bg{
  display: flex;
  justify-content: center;


  @include set-background-color($color-2);

  & .footer-section{
    box-sizing: border-box;
    height: 6rem;
    width: 100%;
    max-width: $max-w-val;
    padding: $padding;
  }
}
